page-login {

  ion-content {
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
    // background-color: #2980b9 !important;
    //  background-image: linear-gradient(to bottom, #21567b, #217ca9) !important;
    background-image: linear-gradient(to bottom, rgba(33,124,169,1) 5%, rgba(33,124,169,1) 70%, rgba(33,86,123,1) 100%) !important;  
  }

  .scroll-content {
    margin-top: 0 !important;
  }
  .toolbar-background {
    border: 0;
}
  .logo {
    width: 55%;
    height: 55%;
   // -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    padding-top: 6vh;
    margin-bottom: 5vh;
  }
  span {
    color: white;
  }
  .submit-box {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  }

  .error-message .item-inner{
    border-bottom-color:  transparent !important;
    box-shadow: inset 0 -1px 0 0  transparent !important;
  }
	.error-message p{
		text-align: center;
		color:white;
  }
  ion-item {
    color: #216f99 !important;
    padding-left: 0px !important;
    // margin-bottom: 10px;
    background-color: transparent !important;
    font-size: 1.2em;
  }
	.item-inner{
		border-bottom: 1px solid white !important;
    box-shadow: inset 0 -1px 0 transparent; 
	}
  ::-webkit-input-placeholder {
    color: #216f99 !important;
  }
  .login-container {
    position: absolute;
    top: 0;
    padding: 10vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
  }
  ion-button {
    opacity: 0.8;
  }
  .login-button{
    background-color: #db9b30 !important;
    border-radius: 7px;
    box-shadow: 0px 0px 20px 0px rgba(24,70,100,1);
    font-size: 1.1em;
  }
  .bottom {
    background:transparent !important;
    margin-bottom: 25px;
  }

  #input-login {
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;  
    background-color: #ffffff !important;
  }

  nav-bar{
    background-image: linear-gradient(to bottom,  color($colors, blue-gradient-dark),  color($colors, blue-gradient)) !important;

  }
}
