
<ion-header no-border>
  <ion-navbar transparent id = "transparent-toolbar">
     <!-- <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>  -->
  </ion-navbar>
</ion-header>

<ion-content no-lines>
  <div class="login-container">
    <img class="logo" src="{{appConfig.APP_ICON}}" />
    
    <!--*********** Form ***********-->
    <form [formGroup]="loginForm" (submit)="login()" novalidate no-lines>
      <ion-item id="input-login">
        <!-- <ion-label floating>{{globals.LANG.EMAIL}}</ion-label> -->
        <ion-input tappable color="light" #email type="email" placeholder="{{globals.LANG.EMAIL}}" formControlName="email" [class.invalid]="!loginForm.controls.email.valid &&loginForm.controls.email.dirty">
        </ion-input>
      </ion-item>

      <ion-item id="input-login">
        <!-- <ion-label floating>{{globals.LANG.PASSWORD}}</ion-label> -->
        <ion-input tappable #password type="password" formControlName="password" placeholder="{{globals.LANG.PASSWORD}}" [class.invalid]="!loginForm.controls.password.valid &&loginForm.controls.password.dirty">
        </ion-input>
      </ion-item>

      <ion-item class="error-message">
        <p *ngIf="!loginForm.controls.email.valid  &&
                loginForm.controls.email.dirty">*{{globals.LANG.VALID_EMAIL}}.</p>
        <p *ngIf="!loginForm.controls.password.valid  &&
                loginForm.controls.password.dirty">*{{globals.LANG.VALID_PASSWORD}}.</p>
      </ion-item>

      <div class="submit-box">
        <button class="login-button" ion-button mode="ios" block type="submit" color="orange">{{globals.LANG.LOG_IN}}</button>
      </div>
    </form>
    
 
  </div>

</ion-content>
<ion-footer no-border>
  <button class="bottom" ion-button bottom mode="ios" type="button"  clear full color="light" (click)="forgot()">{{globals.LANG.FORGOT_PASSWORD}}? </button>
</ion-footer>