page-cards {
  .scroll-content{
    margin: 8px;
  }
    .image-bg .description_container{
      position: absolute;
      background-color: rgba(0, 0, 0, 0.63);
      width: 100%;
      height: 25%;
      bottom: 0;
      text-align: center;
    }
    .image-bg .description {
      font-size: 2em !important;
      position: absolute;
      top: 20%;
      width: 100%;
      color: #fff;
    }
    ion-note{
      color: #000000 !important;
    }
    .title-box{
      background-color: #e8e7e6;
    }
    .description_container {
      margin-top: 5%;
    }
    ion-card.adv-map {
        font-size: 0.7em !important;
        border-radius: 10px;
        box-shadow: none !important;
    }
    // .ion-card, .card-ios, .card-md,  {
    //   margin: 10px !important;
    // }
    
      .card-content-md {
        padding-top: 5px;
      }

      button[fab].fab-map {
        top: calc(100% - 35px);
        z-index: 50;
      }
      
      .item-bold {
        font-weight: bold;
        font-size: 18px !important;
      }

      // .button {
      //   background-color: transparent !important;
      // }

      svg {
        width:20px;
        height:20px;
        padding-right:5px;
      }

      ion-content.cards-bg {
        background-color: #f4f4f7;
        
      }
      ion-card-content{
        padding-top: 5px !important;
      } 
      ion-content{
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url(../../../assets/img/background.png) !important;
        background-image: linear-gradient(to bottom,  color($colors, blue-gradient-dark),  color($colors, blue-gradient)) !important;
      }
      ion-navbar{
        background-image: linear-gradient(to bottom,  color($colors, blue-gradient-dark),  color($colors, blue-gradient)) !important;

      }
      .button{
        box-shadow: none !important;
        border-radius: 7px;
      }
      .icon-small{
        background-size: contain;
        width: 18px;
        height: 18px;
        margin-right: 5px;

      }
      .form-img {
        background: url(../assets/img/store.png) no-repeat top left !important;
      }
      .icon-new {
        background-image: url(../assets/icon/new.png) !important;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .icon-draft {
        background: url(../assets/icon/draft.png) no-repeat top left  !important;
      }
      .button-new{
        background-color: color($colors, blue-gradient-dark) !important;
      }
      .label-new{
        color: color($colors, blue-gradient-dark) !important;
      }
      
      .label-draft{
        color: color($colors, orange-survey) !important;
      }
      
}