<ion-header>
    <ion-navbar>
        <ion-searchbar class="search-bar" placeholder={{globals.LANG.SEARCH}} (ionInput)="getForms($event)"></ion-searchbar>
        <!-- <p class="navbar-title">{{globals.LANG.FORM}}</p>    -->
        <button ion-button menuToggle (click)="goMapToEntity()">
        <ion-icon name="menu" color="light"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-item>
        <h2 text-center>{{entityName}}</h2>
    </ion-item> -->

    <ion-card class="adv-map" *ngFor="let form of forms">
    <div *ngIf="form.userStatus != 3">
        <div class="image-bg" style="position: relative">
            <img *ngIf="form.FormType == 's'" src="./assets/img/store.png">
            <img *ngIf="form.FormType == 'p'" src="./assets/img/person.png">
            
            <!-- <ion-fab right top>
            <button ion-fab class="fab-map">
                <ion-icon name='pin'></ion-icon>
            </button>
            </ion-fab>-->
        </div>
        <ion-item class="title-box">
                <ion-note top item-end>01/08/2018</ion-note>
                <h2>{{form.Title}}</h2>
                <p>{{entityName}}</p>
        </ion-item>
        <ion-card-content center>
            <p class="description">{{form.Description}}</p>
        </ion-card-content>
        <!-- <ion-item actions>
            <span ion-text item-start color="secondary" class="item-bold"*ngIf="form.userStatus == 1">{{globals.LANG.NEW}}</span>
            <span ion-text item-start color="ios-orange" class="item-bold"*ngIf="form.userStatus == 2">{{globals.LANG.DRAFT}}</span>
            <span ion-text item-start color="ios-green" class="item-bold"*ngIf="form.userStatus == 3">Sincronized</span>
            <button *ngIf="form.userStatus == 1 || form.userStatus == 2" ion-button item-end [color]="this.getFormStatusColor(form.userStatus)" outline icon-start (click)="goForm(form.$key, form.Title)">
                <ion-icon *ngIf="form.userStatus == 1" color="secondary" name='add-circle'></ion-icon>
                <svg *ngIf="form.userStatus == 2" viewBox="0 0 24 24">
                        <path fill="#ff9500" d="M13,14H11V10H13M13,18H11V16H13M1,21H23L12,2L1,21Z" />
                </svg>
                {{globals.LANG.START}}
            </button>
        </ion-item> 
        <ion-card-content>
            <ion-note item-start color="subtle">01/08/2018</ion-note>
        </ion-card-content>-->

        
            <!-- <span ion-text item-start color="secondary" class="item-bold"*ngIf="form.userStatus == 1">{{globals.LANG.NEW}}</span>
            <span ion-text item-start color="ios-orange" class="item-bold"*ngIf="form.userStatus == 2">{{globals.LANG.DRAFT}}</span>
            <span ion-text item-start color="ios-green" class="item-bold"*ngIf="form.userStatus == 3">Sincronized</span>    
            <button ion-button item-end icon-start class="footer-button" (click)="goForm(form.$key, form.Title)">
                <ion-icon>
                    <img src="/assets/icon/Icon empezar.png">
                </ion-icon>        
                {{globals.LANG.START}}
            </button>
        
             -->
             <ion-item>
                 <ion-row>
                     <ion-col col-1> 
                        <ion-icon item-start *ngIf="form.userStatus == 1">
                            <img class="icon-small" src="./assets/icon/new.png">
                        </ion-icon>
                        <ion-icon item-start *ngIf="form.userStatus == 2">
                            <img class="icon-small" src="./assets/icon/draft.png">
                        </ion-icon>
                     </ion-col>
                     <ion-col>
                         
                         <h2 ion-text item-start class="item-bold label-new"*ngIf="form.userStatus == 1">{{globals.LANG.NEW}}</h2>
                         <h2 ion-text item-start class="item-bold label-draft"*ngIf="form.userStatus == 2">{{globals.LANG.DRAFT}}</h2>
                     </ion-col>
                   <ion-col> 
                     <button class="button-new" ion-button float-right icon-start (click)="goForm(form.$key, form.Title, form.status)" *ngIf="form.userStatus == 1">
                        <ion-icon>
                            <img src="./assets/icon/Icon empezar.png">
                        </ion-icon>
                            {{globals.LANG.START}}
                     </button>
                     <button ion-button float-right icon-start (click)="goForm(form.$key, form.Title, form.status)" *ngIf="form.userStatus == 2">
                        <ion-icon>
                            <img src="./assets/icon/Icon empezar.png">
                        </ion-icon>
                            {{globals.LANG.START}}
                        </button>
                 </ion-col>
             </ion-row>
            </ion-item>

    </div>    

    </ion-card>
</ion-content>