page-dashboard {

  .scroll-content{
    margin-top:0px !important;
    padding-top: 0px !important;
  }
  ion-content{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/background.png) !important;
  }
  // ion-card-header{
  //   color: #ffffff !important;
  // }
  .chart{
    background: transparent !important;
  }
  .chart-card{
    border-radius: 8px;
    // background-color: #175572a9;
  }
  .profile-box{
    height: 230px;
    padding-top: 30px;
  }
  .dashboard-box{
    margin-top:15px;
  }

  .edit-avatar {
    border-radius: 100%;
    margin-top: 30px;
    width: 25%;
    border: 2px solid #ffffff;
  }

  .name-text {
    font-size: 22px;
    color: #ffffff;
  }

  .last-connect-text {
    margin-top:-15px;
    color: #ffffff;
  }

  .form-icon {
    background: url(../assets/icon/textbox.svg) no-repeat top left;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    
  }
  
  .cloud-check-icon {
    background: url(../assets/icon/cloud-check.svg) no-repeat top left;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0px auto 0 auto;
    

  }

  .cloud-sync-icon {
    background: url(../assets/icon/cloud-sync.svg) no-repeat top left;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0px auto 0 auto;
    

  }

  .cloud-upload-icon {
    background: url(../assets/icon/cloud-upload.svg) no-repeat top left;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0px auto 0 auto;
    

  }
}