<ion-header no-border>
  <ion-navbar transparent color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" no-padding >

    <div class="profile-box">
        <div text-center>
            <img *ngIf="userData.user.photo" src="{{userData.user.photo}}" class="edit-avatar pop-in" alt="">
            <img  *ngIf="!userData.user.photo" src = "https://pbs.twimg.com/profile_images/834457277830541312/bYMCvtHD.jpg" class="edit-avatar pop-in" alt="">
            <p class="name-text">{{globals.LANG.HI}}, {{userData.user.first_name}} {{userData.user.last_name}}</p>
            <p class="last-connect-text">{{globals.LANG.LAST_CONNECTION}}: 25/04/2018</p>
        </div>
    </div>

    <div padding>
        <ion-list no-lines >
            <ion-item>
                <ion-icon name="ios-logo-buffer" item-left></ion-icon>
                <h3>{{globals.LANG.VISITED_ESTABLISHMENT}}: 12 / 15%</h3>
            </ion-item>

            <ion-item>
              <ion-icon name="ios-cloud-done" item-left></ion-icon>
              <h3>{{globals.LANG.ESTABLISHMENT_BY_SINCRONIZE}}: 12 / 15%</h3>
            </ion-item>

            <ion-item>
              <ion-icon name="ios-albums" item-left></ion-icon>
              <h3>{{globals.LANG.TOTAL_FORMS_BY_FILL}}: 5</h3>
            </ion-item>

            <ion-item>
              <ion-icon name="ios-cloud-done" item-left></ion-icon>
              <h3>{{globals.LANG.TOTAL_FORMS_BY_SINCRONIZE}}: 5</h3>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-cloud-download" item-left></ion-icon>
              <h3>{{globals.LANG.TOTAL_SAVED_FORMS}}: 5</h3>
            </ion-item>
            <ion-item>
              <ion-icon name="ios-clock" item-left></ion-icon>
              <h3>{{globals.LANG.FORM_AVERAGE_TIME}}: 01:02:23</h3>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer padding>
  <!-- <button ion-button block mode="ios" color="blue2" (click)="logout()"> -->
    <!-- {{globals.LANG.LOGOUT}} -->
  <!-- </button> -->
</ion-footer>