// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//*************** for sidemenu  ***************//
// Material Design Sidemenu
@import '../theme/animations';


#menu-material {
  .list-box{
    margin-top:190px;
  }
  .menu-header {
    padding: 5px 15px;
    // background-image: url('../assets/md-bg6.jpg');
    background-image: linear-gradient(color($colors, blue-gradient), color($colors, blue-gradient-dark)) !important;  
    background-size: cover;
    //background-color: color($colors, blue2);
    text-align: center;
    color: white;
    .name {
      font-weight: 400;
      font-size:18px;
      margin-top: 10px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 20vh;
      margin-top: 15px;
      margin-bottom: 15px;
      // border: 3px solid #fff;
    }
  }
  h3,
  .label
  {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
#menu-ios{
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-image: linear-gradient(color($colors, blue-gradient), color($colors, blue-gradient-dark)) !important;  
    //background-color: #fff;
    color:#000;
    .name {
      margin-top:8px;
      font-weight: 500;
      font-size:16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 15vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }
}

#menu-pwa {
  .list-box{
    margin-top:10px;
  }
  .menu-header {
    text-align: center;
    margin: auto;
    // width: 50%;
    // margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 15px;
    background-size: cover;
    background-image: linear-gradient(color($colors, blue-gradient), color($colors, blue-gradient-dark)) !important;      
    //background-color: color($colors, ios-gray);
    color: #ffffff;
    .name {
      margin-top:8px;
      font-weight: 500;
      font-size:16px;
      margin-bottom: 3px;
    }
    .email {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .user-avatar {
      padding: .5em;
      height: 20vh;
      margin-top: 15px;
      // border: 3px solid #fff;
    }
  }

  h3,
  .label
  {
    color: #616161;
    font-weight: 400;
  }
  ion-icon {
    color: #616161;
  }
}
.sub-menu .item-inner{
  padding-left: 56px;
}
.round {
  border-radius: 50%;
}

//Toolbar general
.toolbar-background {
  background-color:#2980b9 !important;
 }
 ion-content {
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  // background-color: #2980b9 !important;
  //  background-image: linear-gradient(to bottom, #21567b, #217ca9) !important;
  background-image: linear-gradient(to bottom, rgba(33,124,169,1) 5%, rgba(33,124,169,1) 70%, rgba(33,86,123,1) 100%) !important;  
}
.bar-button-default-wp, 
.bar-button-clear-wp-default, 
.bar-button-wp-default,
.bar-button-default-ios, 
.bar-button-clear-ios-default, 
.bar-button-ios-default,
.bar-button-default-md, 
.bar-button-clear-md-default, 
.bar-button-md-default{
  color: #ffffff !important;
} 

.searchbar-md-border-color
.searchbar-wp-border-color
.searchbar-ios-border-color
{
  color: #4365a5 !important;
}
.button{
  background-color: color($colors, orange-survey) !important;
}

.toolbar-title.toolbar-title-md, 
.toolbar-title.toolbar-title-ios, 
.toolbar-title.toolbar-title-wp{
color: #ffffff !important;
} 

#transparent-toolbar{
  .toolbar-background {
    background:transparent !important;
   }
   
}

.footer-button {
  font-size: 18px;
  width:49%;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0px color($colors, shadow-button);
  font-size: 1.1em;
}

.footer {
  text-align: center;
  align-content: center;
  align-items: center;
}

.icon{
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0px auto 0 auto;

}

#input {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;  
  background-color: #ffffff !important;
}

.navbar-title{
  font-size: 18px;
  color: #ffffff !important;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
  width: 70%;
  text-align: center;
}

.user-icon {
  background: url(../assets/icon/person-grey.svg) no-repeat top left;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0px auto 0 auto;
}

.dashboard-icon {
  background: url(../assets/icon/dashboard.svg) no-repeat top left;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0px auto 0 auto;
}

.login-button{
  background-color: #db9b30 !important;
  border-radius: 7px;
  box-shadow: 0px 0px 20px 0px rgba(24,70,100,1);
  font-size: 1.1em;
}