<ion-header>
  <ion-navbar>
    <ion-title>{{nameForm}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="goPhotos()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-buttons>  
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
      <div *ngFor="let form of forms">
          <ion-list-header *ngIf="form.Level == '1'" class="level-one-text level-one-margin">{{form.Name}}</ion-list-header>
          <ion-list-header *ngIf="form.Level == '2'" class="level-two-text level-two-margin">{{form.Name}}</ion-list-header>
          <ion-list-header *ngIf="form.Level == '3'" class="level-three-text level-three-margin">{{form.Name}}</ion-list-header>

          <!-- inputs -->
          <ion-item [class.level-one-padding]="form.Level == '1'"
          [class.level-two-padding]="form.Level == '2'"
          [class.level-three-padding]="form.Level == '3'"
           text-wrap *ngFor="let question of form.questions">
           
                <!-- QUESTION -->
              <ion-label [id]="question.$key" fixed right>{{question.Question}}</ion-label>


              <ion-input *ngIf="question.type == 0" type="text" [(ngModel)]="question.answer"></ion-input>
              <ion-input *ngIf="question.type == 1" type="number" [(ngModel)]="question.answer"></ion-input>
              <ion-checkbox *ngIf="question.type == 2" color="blue" item-right style="margin-right: 30%;" [(ngModel)]="question.answer"></ion-checkbox>
              <ion-input *ngIf="question.type == 3" type="text" [(ngModel)]="question.answer"></ion-input>
              <ion-input *ngIf="question.type == 4" type="text" [(ngModel)]="question.answer"></ion-input>
              <!-- N/A -->
                <ion-checkbox color="blue" item-right [(ngModel)]="question.na"></ion-checkbox>
                <ion-label fixed right class="no-apply-text">N/A</ion-label>
          </ion-item>
      </div>
    </ion-list>
    <ion-fab right bottom edge>
        <button ion-fab mini (click)="openSelect()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>

      <ion-select style="display:none;" [(ngModel)]="scrollSelect" #mySelect (ngModelChange)="scrollToEl(mySelect.value)">
        <div *ngFor="let form of forms">
            <ion-option [value]="question.$key" *ngFor="let question of form.questions">{{question.Question}}</ion-option>
        </div>
    </ion-select>
    
</ion-content>

<ion-footer>
  <button ion-button round mode="ios" icon-start (click)="sincronizeForm()">
    Sincronize
  </button>
</ion-footer>


        <!-- <div *ngFor="let form of forms">
            <ion-item *ngIf="form.Level == '1'" class="level-one-text">{{form.Name}}</ion-item>
            <ion-item *ngIf="form.Level == '2'">
                <ion-list>
                    <ion-item class="level-two-text">{{form.Name}}</ion-item>
                </ion-list>
            </ion-item>
            <ion-item *ngIf="form.Level == '3'">
                <ion-list>
                    <ion-item>
                        <ion-list>
                            <ion-item class="level-three-text">{{form.Name}}</ion-item>
                        </ion-list>
                    </ion-item>
                </ion-list>
            </ion-item>
        </div> -->