page-forms {
    .level-one-text{
        color: red;
    }
    .level-two-text{
        color: blue;
    }
    .level-three-text{
        color: violet;
    }
    .level-one-margin{
    }
    .level-two-margin{
        margin-left: 20px;
    }
    .level-three-margin{
        margin-left: 40px;
    }
    .level-one-padding{
    }
    .level-two-padding{
        padding-left: 30px;
    }
    .level-three-padding{
        padding-left: 40px;
    }
    .item-cover{
        left: initial;
        right: 0;
        width: 15%;
    }
    .no-apply-text{
        position: absolute;
        right: 0;
        margin-right: -62px;
        margin-top: -19px;
    }
}
