<ion-header no-border>
  <ion-navbar id = "transparent-toolbar" color="primary"> <!--color="#2980b9" color="navbar-color"-->
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons right>
      <button ion-button icon-end (click)="toggleEdit()" *ngIf="!this.onEdit">
        <ion-icon name="more"></ion-icon>
      </button>
      <button ion-button icon-end (click)="toggleEdit()" *ngIf="this.onEdit">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen="true" no-padding >

  <div class="profile1-info">
    <p>{{globals.LANG.PROFILE}}</p>
    <div class="profile-image-box" text-center>
      <img id="profile1-image" class="pop-in" src="../../../assets/icon/user-male.svg" item-left *ngIf="userData.user.sex == 'M'"/>
      <img id="profile1-image" class="pop-in" src="../../../assets/icon/user-female.svg" item-left *ngIf="userData.user.sex == 'F'"/>
      <ion-title id="profile1-name">{{userData.user.first_name}} {{userData.user.last_name}}</ion-title>
      <!--<p>{{(profile2 | async)?.company}} &bull; {{(profile2 | async)?.position}}</p> -->
      <h2 class="profile1-description">{{userData.user.position}}</h2>  
    </div>
  </div>

  <div>
    
  </div>
  <!--***********  Contact  ***********-->
  <ion-list class="fadein-down" no-lines *ngIf="!this.onEdit">

    <ion-list-header>
      <h2>{{globals.LANG.CONTACT}}</h2>
    </ion-list-header>
    <ion-item>
      <ion-icon class="icon-email icon" item-left></ion-icon>
      <p>Email</p>
      <h2>{{userData.user.email}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-person icon" item-left></ion-icon>
      <p>{{globals.LANG.FIRST_NAME}}</p>
      <h2>{{userData.user.first_name}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-person icon" item-left></ion-icon>
      <p>{{globals.LANG.LAST_NAME}}</p>
      <h2>{{userData.user.last_name}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-phone icon" item-left></ion-icon>
      <p>{{globals.LANG.MOBILE_PHONE}}</p>
      <h2>{{userData.user.phone}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-calendar icon" item-left></ion-icon>
      <p>{{globals.LANG.BIRTHDAY}}</p>
      <h2>{{userData.user.birthday}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-male icon" item-left *ngIf="userData.user.sex == 'M'"></ion-icon>
      <ion-icon class="icon-female icon" item-left *ngIf="userData.user.sex == 'F'"></ion-icon>
      <p>{{globals.LANG.SEX}}</p>
      <h2 *ngIf="userData.user.sex == 'M'">{{globals.LANG.MALE}}</h2>
      <h2 *ngIf="userData.user.sex == 'F'">{{globals.LANG.FEMALE}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-country icon" item-left></ion-icon>
      <p>{{globals.LANG.COUNTRY}}</p>
      <h2>{{userData.user.country}}</h2>
    </ion-item>
    <ion-item>
      <ion-icon class="icon-city icon" item-left></ion-icon>
      <p>{{globals.LANG.CITY}}</p>
      <h2>{{userData.user.city}}</h2>
    </ion-item>


  </ion-list>

  <!-- Editar perfil -->
  <form [formGroup]="profileForm" novalidate>
    <ion-list class="fadein-down" no-lines *ngIf="this.onEdit">
      <ion-list-header>
        <h2>{{globals.LANG.EDIT_PROFILE}}</h2>
      </ion-list-header>
      <div class="item-inner">
        <ion-item>
          <ion-icon class="icon-person icon" item-left></ion-icon>
          <ion-label stacked>{{globals.LANG.NAME}}</ion-label>
          <ion-input type="text" [(ngModel)]="form.first_name" formControlName="first_name" [class.invalid]="!profileForm.controls.first_name.valid && profileForm.controls.first_name.dirty"
            (ionChange)="findInvalidControls()">
          </ion-input>
        </ion-item>
      </div>
      <div class="item-inner">
        <ion-item>
          <ion-icon class="icon-person icon" item-left></ion-icon>
          <ion-label stacked>{{globals.LANG.LAST_NAME}}</ion-label>
          <ion-input type="text" [(ngModel)]="form.last_name" formControlName="last_name" [class.invalid]="!profileForm.controls.last_name.valid && profileForm.controls.last_name.dirty"
            (ionChange)="findInvalidControls()">
          </ion-input>
        </ion-item>
      </div>
      <div class=" item-inner ">
        <ion-item>
          <ion-icon class="icon-phone icon" item-left></ion-icon>
          <ion-label stacked>{{globals.LANG.MOBILE_PHONE}}</ion-label>
          <ion-input type="text" [(ngModel)]="form.phone" formControlName="phone" [class.invalid]="!profileForm.controls.phone.valid
            && profileForm.controls.phone.dirty" (ionChange)="findInvalidControls()">
          </ion-input>
        </ion-item>
      </div>
    </ion-list>
  </form>

  <div class="validation-errors">
    <p *ngIf="!profileForm.controls.first_name.valid  && profileForm.controls.first_name.dirty">*Please enter a valid First Name least 2 characters long, and contain only a letters.</p>
    <p *ngIf="!profileForm.controls.last_name.valid  && profileForm.controls.last_name.dirty">*Please enter a valid Last Name least 2 characters long, and contain only a letters.</p>
    <p *ngIf="!profileForm.controls.phone.valid  && profileForm.controls.phone.dirty">*Please enter a valid Phone least 6 characters long, and contain a number.</p>
  </div>

  <button ion-button block (click)="save(form)" *ngIf="this.onEdit && this.validEdit">{{globals.LANG.SAVE}}</button>

</ion-content>