<ion-header>
  <ion-navbar color="white" class="white-text">
    <button ion-button menuToggle class="TopLMenu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{globals.LANG.PROFILE}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-end (click)="toggleEdit()" *ngIf="!this.onEdit">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button ion-button icon-end (click)="toggleEdit()" *ngIf="this.onEdit">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="profile1-info" class="test-class" padding>

    <img id="profile1-image" class="pop-in" src="https://pickaface.net/gallery/avatar/By_3DGAR.1561e90832b518.png" />
    <h3 id="profile1-name">{{userData.user.name}}</h3>
    <!--<p>{{(profile2 | async)?.company}} &bull; {{(profile2 | async)?.position}}</p> -->
    <p class="profile1-description">Developer</p>
  </div>


  <!--***********  Contact  ***********-->
  <ion-list class="fadein-down" no-lines *ngIf="!this.onEdit">

    <ion-list-header>
      <h2>{{globals.LANG.CONTACT}}</h2>
    </ion-list-header>
    <ion-item>
      <ion-icon name="ios-mail" item-left></ion-icon>
      <h2>{{userData.user.email}}</h2>
      <p>Email</p>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <h2>{{userData.user.first_name}}</h2>
      <p>{{globals.LANG.NAME}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="person" item-left></ion-icon>
      <h2>{{userData.user.last_name}}</h2>
      <p>{{globals.LANG.LAST_NAME}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="ios-call" item-left></ion-icon>
      <h2>{{userData.user.phone}}</h2>
      <p>{{globals.LANG.MOBILE_PHONE}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      <h2>{{userData.user.birthday}}</h2>
      <p>{{globals.LANG.BIRTHDAY}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="male" item-left *ngIf="userData.user.sex == 'Masculine'"></ion-icon>
      <ion-icon name="female" item-left *ngIf="userData.user.sex == 'Female'"></ion-icon>
      <h2>{{userData.user.sex}}</h2>
      <p>{{globals.LANG.SEX}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="flag" item-left></ion-icon>
      <h2>{{userData.user.country}}</h2>
      <p>{{globals.LANG.COUNTRY}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="home" item-left></ion-icon>
      <h2>{{userData.user.city}}</h2>
      <p>{{globals.LANG.CITY}}</p>
    </ion-item>


  </ion-list>

  <!-- Editar perfil -->
  <form [formGroup]="profileForm" novalidate>
    <ion-list class="fadein-down" no-lines *ngIf="this.onEdit">
      <ion-list-header>
        <h2>{{globals.LANG.EDIT_PROFILE}}</h2>
      </ion-list-header>
      <div class=" item-inner ">
        <ion-item>
          <ion-label stacked>{{globals.LANG.MOBILE_PHONE}}</ion-label>
          <ion-input type="text" [(ngModel)]="form.phone" formControlName="phone" [class.invalid]="!profileForm.controls.phone.valid
            && profileForm.controls.phone.dirty" (ionChange)="findInvalidControls()">
          </ion-input>
        </ion-item>
      </div>
    </ion-list>
  </form>

  <div class="validation-errors">
    <p *ngIf="!profileForm.controls.first_name.valid  && profileForm.controls.first_name.dirty">*Please enter a valid First Name least 2 characters long, and contain only a letters.</p>
    <p *ngIf="!profileForm.controls.last_name.valid  && profileForm.controls.last_name.dirty">*Please enter a valid Last Name least 2 characters long, and contain only a letters.</p>
    <p *ngIf="!profileForm.controls.phone.valid  && profileForm.controls.phone.dirty">*Please enter a valid Phone least 6 characters long, and contain a number.</p>
  </div>

  <button ion-button block (click)="save(form)" *ngIf="this.onEdit && this.validEdit">{{globals.LANG.SAVE}}</button>

</ion-content>