page-profile {

  $text-color:#fff; 
  .scroll-content{
    margin-top:0px !important;
    padding-top: 0px !important;
  }
  ion-title{
    margin-top: 8px;
    text-align: center;
  }
  ion-list{
    margin-top: -15px;
  }
  .profileHeader{
      color: #333;
      font-size: 18px;
  }
  #profile1-image {
    display: block;
    // border-radius: 50%;
    border-radius: 50%;
    width: auto;
    height: 100px;
    margin: -15px auto 0;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255,0.1);
    border-image: initial;
    // box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
  .profile1-info {
    width: 100%;
    height: 250px;
    text-align: center;
    padding-top: 10px;
    background-image: linear-gradient(color($colors, blue-gradient), color($colors, blue-gradient-dark)) !important;  
    background-size: cover;
    background-repeat: no-repeat;
    p{
      font-size: 18px;
      color: #ffffff !important;
    }
    h2{
      color: #fff;
    }
  }
  .profile-image-box {
    padding-top: 30px;
    
  }
  #profile1-name {
    color: #444;
    font-size: 22px;
  }
  .profile1-description {
    font-size: 15px;
    color: #888;
    margin: 0 auto -5px;
  }

 .profile1-numbers {
    p {
      color: #888;
      font-size: 18px;
      margin-top: 3px;
    }
    span {
      font-weight: bold;
      font-size: 18px;
      color: #34354c;
    }
  } 
  .validation-errors{
    color:rgb(100, 0, 0)
  }
  .icon-person {
    background: url(../assets/icon/user.svg) no-repeat top left;
  }
  .icon-email {
    background: url(../assets/icon/email.svg) no-repeat top left;
  }
  .icon-phone {
    background: url(../assets/icon/phone.svg) no-repeat top left;
  }
  .icon-male {
    background: url(../assets/icon/male.svg) no-repeat top left;
  }
  .icon-female {
    background: url(../assets/icon/female.svg) no-repeat top left;
  }
  .icon-calendar {
    background: url(../assets/icon/calendario.svg) no-repeat top left;
  }
  .icon-city {
    background: url(../assets/icon/ciudad.svg) no-repeat top left;
  }

  .icon-country {
    background: url(../assets/icon/pais.svg) no-repeat top left;
  }
}
